@font-face {
    font-family: myFirstFont;
    src: url(/practica-5/assets/images/RedHatDisplay-VariableFont_wght.ttf);
  }

*{
    box-sizing: border-box;
    margin: 0;
    font-family: myFirstFont;
    color: hsl(223, 47%, 23%);
}

body{
    background-image: url(/practica-5/assets/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 115%;
    background-color: hsl(225, 100%, 94%);
}

.card{
    background-image: url(/practica-5/assets/images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    width: 450px;
}

.titulo{
    margin-top: 290px;
    text-align: center;
}

.parrafo{
    text-align: center;
    margin-top: 20px;
    width: 300px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.plan{
    padding: 10px;
    margin: 50px;
    margin-bottom: 40px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
}

.imagenNota{
    display: inline;
    position: relative;
    top: 45px;
    left: 20px;
    transform: translateY(-50%);
}

.texto1{
    display: inline;
    position: relative;
    left: 11%;
    top: -10px;
}

.texto2{
    position: relative;
    left: 27%;
    font-weight: lighter;
}

.change{
    position: relative;
    left: 75%;
    top: -33px;
    color: hsl(245, 75%, 52%);
    font-weight: bold;
    /* transform: translateX(-50%); */
}

button{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.button1{
    margin-top: 10px;
    font-size: 15px;
    background-color: hsl(245, 75%, 52%);
    color:white;
    border: 0;
    border-radius: 13px;
    width: 380px;
    height: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transition: 0.3s;
}

.button2{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px;
    background-color: transparent;
    color:gray;
    border: 0;
    border-radius: 13px;
    width: 380px;
    height: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.button1:hover{
    background-color: rgb(78, 4, 78);
}

.button2:hover{
    color:black;
}